<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Equ</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="indigo lighten-3">
  <nav class="indigo lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Equality</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Link</a></li>

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
  <div class="container">
      <div class="row">
        <div class="col 12">
           <h1 class="center-align white-text">Equality</h1>
           <h4 class="white-text">Encuentra los mejores lugares accesibles para personas con capacidades diferentes.</h4>
         </div>
      </div>
      <div class="row">
        <div class="col 4">
          <p> </p>
        </div>
        <div class="col 4">
          <div class="card-panel">
            <form action="send" >
              <input type="text" placeholder="Busca restaurantes, hospitales, etc." id="what">
              <input type="text" placeholder="Lugar"> 
              <button class="btn waves-effect waves-light pink accent-3" type="submit" name="action">Buscar
              <i class="material-icons right">search</i>
            </button>
              
            </form>
                    
          </div>
        </div>
        <div class="col 4">
          <p></p>
        </div>
      </div>
  </div>




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
